body {
  font-family: "Poppins";
}

.tetris-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.tetris-wrap .tetris-box .logo {
  padding: 20px 0;
  margin: 0 auto;
  width: 300px;
}

.tetris-wrap .tetris-box #tetris {
  margin-top: 30px;
}

.tetris-wrap #tetris, .tetris-wrap #next-table {
  border-collapse: collapse;
  display: inline-block;
}

.tetris-wrap #tetris td, .tetris-wrap #next-table td {
  border: 1px solid #e9e9e9;
  width: 30px;
  height: 30px;
}

.tetris-wrap #tetris td.red, .tetris-wrap #next-table td.red {
  background-color: red;
}

.tetris-wrap #tetris td.orange, .tetris-wrap #next-table td.orange {
  background-color: #f75a21;
}

.tetris-wrap #tetris td.yellow, .tetris-wrap #next-table td.yellow {
  background-color: #ffc116;
}

.tetris-wrap #tetris td.green, .tetris-wrap #next-table td.green {
  background-color: #00af6c;
}

.tetris-wrap #tetris td.blue, .tetris-wrap #next-table td.blue {
  background-color: #0055ff;
}

.tetris-wrap #tetris td.navy, .tetris-wrap #next-table td.navy {
  background-color: #562292;
}

.tetris-wrap #tetris td.violet, .tetris-wrap #next-table td.violet {
  background-color: #b3248f;
}

.tetris-wrap #tetris td.red, .tetris-wrap #tetris td.orange, .tetris-wrap #tetris td.yellow, .tetris-wrap #tetris td.green, .tetris-wrap #tetris td.blue, .tetris-wrap #tetris td.navy, .tetris-wrap #tetris td.violet, .tetris-wrap #next-table td.red, .tetris-wrap #next-table td.orange, .tetris-wrap #next-table td.yellow, .tetris-wrap #next-table td.green, .tetris-wrap #next-table td.blue, .tetris-wrap #next-table td.navy, .tetris-wrap #next-table td.violet {
  -webkit-box-shadow: inset 5px 5px 0 rgba(255, 255, 255, 0.4), inset -5px -5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: inset 5px 5px 0 rgba(255, 255, 255, 0.4), inset -5px -5px 0 rgba(0, 0, 0, 0.2);
}

.tetris-wrap #tetris td.white, .tetris-wrap #next-table td.white {
  background-color: white;
}

.tetris-wrap .right-box {
  margin-top: 148px;
  margin-left: 20px;
}

.tetris-wrap .right-box .util-box .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.tetris-wrap .right-box .util-box .btn-box #stop, .tetris-wrap .right-box .util-box .btn-box #start {
  display: inline-block;
  width: 40px;
  opacity: 0.5;
}

.tetris-wrap .right-box .util-box .score-box {
  text-align: center;
  font-size: 20px;
  font-weight: 100;
}

.tetris-wrap .right-box .util-box .score-box #score {
  font-weight: 600;
  vertical-align: middle;
}

.tetris-wrap .lanking {
  margin-top: 148px;
}

.tetris-wrap .lanking ul {
  padding-right: 20px;
}

.tetris-wrap .lanking ul li {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border: 1px solid #e9e9e9;
}

.tetris-wrap .lanking ul li i {
  display: inline-block;
  width: 40px;
}

.tetris-wrap .lanking ul li div {
  margin-left: 20px;
}

.tetris-wrap .lanking ul li span {
  display: block;
}

.tetris-wrap .lanking ul li span.date {
  color: #999;
  font-weight: 100;
}

.tetris-wrap .lanking ul li span.nick {
  font-size: 20px;
  padding: 5px 0 7px;
}

.tetris-wrap .lanking ul li span.score-line {
  font-weight: 100;
}

.tetris-wrap .lanking ul li span .score {
  font-size: 20px;
  font-weight: 600;
  vertical-align: middle;
}

.tetris-wrap .lanking ul li:nth-child(1) {
  margin-top: 0;
}

.tetris-wrap .lanking ul li:nth-child(1) .score {
  color: #f75a21;
}

.tetris-wrap .lanking ul li:nth-child(2) .score {
  color: #00af6c;
}

.tetris-wrap .lanking ul li:nth-child(3) .score {
  color: #0055ff;
}
/*# sourceMappingURL=style.css.map */